<style>
    body {
        background-image: url('/Images/bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
    }
    .content-panel {
        background-color: rgba(255, 255, 255, 0.6);
        padding: 2rem;
        padding-right: 6rem;
        padding-left: 6rem;
        border-radius: 8px; 
        display: inline-block;
        align-self: center;
        width: fit-content;
        position: relative;
    }
    .content-panel-2 {
        background-color: rgba(68, 64, 64, 0.6);
        padding: 2rem;
        border-radius: 8px;
        display: inline-block;
        align-self: center;
        width: fit-content;
    }
    .content-panel-2 a {
        color: #66ccff;
    }

    .topright {
        position: absolute;
        top: 8px;
        right: 10%;
        font-size: 18px;
        font-size: xx-large;
        transform: translateX(50%) rotate(30deg);
        transform-origin: center;
        white-space: nowrap;
        color: rgb(216, 111, 13);
        animation: splash 2s infinite ease-in-out;
    }

    .piechartwrapper {
        position: relative;
        width: 200px;
        height: 200px;
    }

    .piecharttext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; /* or whatever color */
        font-weight: bold;
        font-size: xx-large;
        text-align: center;
    }

    .donepiechart {
        background: conic-gradient(rgb(9, 141, 9) 0deg @ViewBag.degrees, rgb(194, 21, 21) @ViewBag.degrees 360deg);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: xx-large;
        text-align: center;
        vertical-align: middle;
    }

    @@keyframes splash {
        0%, 100% {
            transform: translateX(50%) rotate(30deg) scale(1);
        }
        50% {
            transform: translateX(50%) rotate(30deg) scale(1.2);
        }
    }
</style>

@{
    ViewData["Title"] = "Home Page";
    var i = 0;
}

<div class="text-center" style="display: flex; flex-direction: column; gap: 40px;">
    <div class="content-panel">
        <h1 class="display-4">Vítejte na Pařez Wiki!</h1>
        <h1>Více než @(ViewBag.finishedPages-1) článků!</h1>
        <div class="topright">@ViewBag.splashtext</div>
    </div>
    <div style="width: fit-content; display: flex; flex-direction: row; align-self: center; gap: 30px">
        <div class="content-panel-2">
            <h3 style="color: white;">Nejnovější články: </h3>
            @foreach (var key in Model.Keys){
                <p class="new-articles" data-index="@i" style="color: white; display: @(i < 10 ? "block" : "none")">
                    Více o <a href=@key>@Model[@key]</a>.
                </p>
                i++;
            }
            <div id="pagenumber" style="background-color: rgba(68,64,64,0.6); color: white;">STRÁNKA 1</div>
            <div style="display: flex; flex-direction: row;">
                <button id="prevbutton" onclick="previous()" style="flex: 1; background-color: rgb(75, 75, 75);">PŘEDCHOZÍ</button>
                <button id="nextbutton" onclick="next()"     style="flex: 1; background-color: lightgray;">DALŠÍ</button>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; gap:50px;">
            <div class="piechartwrapper">
                <div class="donepiechart"></div>
                <div class="piecharttext">@ViewBag.percentage</div>
            </div>
            <div style="background-color: rgba(68, 64, 64, 0.6); font-size: x-large; color: white;">DOKONČENÍ</br>PAŘEZ WIKI:<br/>@ViewBag.date</div>
        </div>
    </div>
</div>

<script>
    let newarticlespage = 0;
    const newarticles = document.querySelectorAll(".new-articles");
    const articlepages = Math.ceil(newarticles.length/10);
    const prevbutton = document.getElementById("prevbutton");
    const nextbutton = document.getElementById("nextbutton");
    const pagenumber = document.getElementById("pagenumber");

    function previous(){
        console.log("previous");
        if (newarticlespage == 0){
            return;
        }
        newarticlespage--;
        updatearticlelinks();
    }

    function next(){
        console.log("next");
        if (newarticlespage == articlepages-1){
            return;
        }
        newarticlespage++;
        updatearticlelinks();
    }

    function updatearticlelinks(){
        prevbutton.style.backgroundColor = "lightgray";
        nextbutton.style.backgroundColor = "lightgray";
        pagenumber.innerText = "STRÁNKA " + (newarticlespage+1)
        if (newarticlespage == 0) prevbutton.style.backgroundColor = "rgb(75,75,75)";
        if (newarticlespage == articlepages-1) nextbutton.style.backgroundColor = "rgb(75,75,75)"

        let start = newarticlespage*10;
        let end = newarticlespage*10 + 9;
        for (let i = 0; i < newarticles.length; i++){
            if (i < start || i > end){
                newarticles[i].style.display = "none";
            }
            else {
                newarticles[i].style.display = "block";
            }
        }
    }
</script>