@using System.Text.Json
@{
    ViewData["Title"] = "WIKI Pařez";
}

@if (Model != null){
    <div class="text-center">
        <h1 class="display-4">Vítej na Pařez Wiki</h1>
        <p>Stránka o @Model.Type @Model.Title.</p>
    </div>

    <div style="display: flex; gap: 2rem;">
        <main style="flex-grow: 1;">
            @foreach (var sec in Model.Sections)
            {
                <div class="section">
                    <h2>@sec.Title</h2>
                    <p style="word-break: break-word; overflow-wrap: break-word; white-space: pre-wrap;">@Html.Raw(sec.Content)</p>
                </div>
            }
        </main>
        <aside style="min-width: 200px; padding: 1rem; background-color: #f5f5f5; border-radius: 8px;">
            <figure style="margin: 0; text-align: center; position: relative;">
                <img id="wikiimage" src="/Images/@Model.Images[Model.image_id]" alt="image" style="width: 100%; max-width: 100%;"/>
                <figcaption id="imagetitle" style="margin-top: 0.5rem; font-weight:bold;">@Model.Image_titles[Model.image_id]</figcaption>
                @if (Model.image_count() > 1)
                {
                    <button onclick="changeImage(-1)" class="btn btn-sm" style="background-color: white; position: absolute; top: 50%; left: 10px; transform: translateY(-50%);">‹</button>
                }
                @if (Model.image_count() > 1)
                {
                    <button onclick="changeImage(1)" class="btn btn-sm" style="background-color: white; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">›</button>
                }
            </figure>
            <h2 style="text-align: center;">Info</h2>
            <table>
                @foreach (var data in Model.Metadata)
                {
                    <tr>
                        <td style="padding-right: 0.5rem;"><strong>@data.Label:</strong></td>
                        <td>@Html.Raw(data.Value)</td>
                    </tr>
                }
            </table>
        </aside>
    </div>

    @section Scripts {
        <script>
            const imageCount = @Model.image_count();
            let currentImageID = @Model.image_id;
            function changeImage(direction){
                currentImageID = (currentImageID + direction + imageCount)%imageCount;
                document.getElementById("wikiimage").src = "/Images/" + images[currentImageID];
                document.getElementById("imagetitle").innerText = titles[currentImageID];
            }
            const images = @Html.Raw(JsonSerializer.Serialize(Model.Images));
            const titles = @Html.Raw(JsonSerializer.Serialize(Model.Image_titles));

        </script>
    }
}