@using System.Text.Json
@{
    ViewData["Title"] = "WIKI Pařez";
}

<style>
    .zoomed {
        transform: scale(2);
        cursor: zoom-out;
        z-index: 1000;
        position: relative;
    }

    img.wikiimage {
        transition: transform 0.3s ease;
        cursor: zoom-in;
    }
</style>

@if (Model != null){
    <div class="text-center">
        <h1 class="display-4">Vítej na Pařez Wiki</h1>
        <p>Stránka o @Model.Type @Model.Title.</p>
    </div>

    <div style="display: flex; gap: 2rem;">
        <main style="flex-grow: 1;">
            @foreach (var sec in Model.Sections)
            {
                <div class="section">
                    <h2>@sec.Title</h2>
                    <p style="word-break: break-word; overflow-wrap: break-word; white-space: pre-wrap;">@Html.Raw(sec.Content)</p>
                </div>
            }
        </main>
        <aside style="min-width: 200px; padding: 1rem; background-color: #f5f5f5; border-radius: 8px; max-width: 300px;">
            <figure style="margin: 0; text-align: center; position: relative;">
                <img id="wikiimage" onclick="this.classList.toggle('zoomed')" style="width: 100%; max-width: 100%;" src="/Images/@Model.Images[Model.image_id]" alt="image"/>
                <figcaption id="imagetitle" style="margin-top: 0.5rem; font-weight:bold;">@Html.Raw(@Model.Image_titles[Model.image_id])</figcaption>
                @if (Model.image_count() > 1)
                {
                    <button onclick="changeImage(-1)" class="btn btn-sm" style="background-color: white; position: absolute; top: 50%; left: 10px; transform: translateY(-50%);">‹</button>
                }
                @if (Model.image_count() > 1)
                {
                    <button onclick="changeImage(1)" class="btn btn-sm" style="background-color: white; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">›</button>
                }
            </figure>
            <h2 style="text-align: center;">Info</h2>
            <table>
                @foreach (var key in Model.Metadata.Keys)
                {
                    <tr>
                        <td style="padding-right: 0.5rem;"><strong>@key:</strong></td>
                        <td>@Html.Raw(Model.Metadata[key])</td>
                    </tr>
                }
                <tr>
                    <td style="padding-right: 0.5rem;"><strong>Plocha:</strong></td>
                    <td>@Model.area blok²</td>
                </tr>
                @if (Model.numberOfRooms > 0){
                    <tr>
                        <td style="padding-right: 0.5rem;"><strong>Počet místností:</strong></td>
                        <td>@Model.numberOfRooms</td>
                    </tr>
                }
            </table>
            @using (Html.BeginForm("SendEmail", "Wiki", FormMethod.Post))
            {
                <input type="hidden" name="slug" value=@ViewBag.Slug />
                <input type="text" name="message" placeholder="Popiš chybu" />
                <button type="submit">Odeslat</button>
            }
        </aside>
    </div>

    @section Scripts {
        <script>
            const imageCount = @Model.image_count();
            console.log("Image count: " + imageCount);
            let currentImageID = @Model.image_id;
            function changeImage(direction){
                currentImageID = (currentImageID + direction + imageCount)%imageCount;
                document.getElementById("wikiimage").src = "/Images/" + images[currentImageID];
                document.getElementById("imagetitle").innerHTML = titles[currentImageID];
            }
            const images = @Html.Raw(JsonSerializer.Serialize(Model.Images));
            const titles = @Html.Raw(JsonSerializer.Serialize(Model.Image_titles));
        </script>
    }
}